.container {
    margin-top: 20px;
  }

  .container1{
    width: 630px;
  }

  .move1{
    margin: 0 auto;
    text-align: center;
  }

  .botaoMov{
    text-align: right;
    margin-top: -45px;
  }
  
  .card {
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .list-group-item {
    padding: 10px;
  }
  
  #foto {
    text-align: center;
  }
  
  #foto img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  #output {
    margin-top: 90px;
  }
  
